@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
html{
    background-color: rgba(0, 0, 0, 0.947);
    color: goldenrod;
    text-align: center;
    font-family: Sedan sc, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-size: cover;
}

body{
    margin: 0px 5px;
    padding: 4px;
    box-sizing: border-box;
    text-wrap: nowrap;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: x-large;
    text-wrap: nowrap;
}

.homePage {
    background-image: url('Tic Tac Toe.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

#backToHome {
    right: 0;
    position: absolute;
    padding-right: 4px;
    margin-top: 0;
}

.bodyCenter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startBTN {
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: bold;
    text-wrap: nowrap;
} 

#startBTN:hover {
    background-color: #bababa;
    transform: translateY(-5px);
}

#player1,
#player2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bababa;
    position: relative;
    margin: 20px;
}

#player1::after,
#player2::after{
    content: "";
    position: absolute;
    top: 22px;
    left: -10px;
    border-radius: 50% 50% 0% 0%;
    background-color:  #bababa;
    width: 40px;
    height: 20px;
}

.player{
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 450px; 
    margin: 0 auto;
}

.player .score {
    color: goldenrod;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-family: 'Finger Paint', cursive;
    font-size: 2rem;
}

#gameboard {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 75%;
}
  
.box {
    width: 100px;
    height: 100px;
    border: 2px solid goldenrod;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    background-color: powderblue; 
    background-image: url('Backgroundimage.jpg');
    color: rgb(10, 10, 10);
    line-height: 100px;
    vertical-align: middle;
}

button{
    width: 75%;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 20px auto  0 auto;
    box-sizing: border-box;
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    background-color: goldenrod;
    color: rgb(28, 21, 21);
    font-weight:bold;
}
