html{
    color: goldenrod;
    text-align: center;
    font-family: Sedan sc, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 5px 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(74, 73, 73);
}


#player1,
#player2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bababa;
    position: relative;
    margin: 20px;
}
#player1::after,
#player2::after{
    content: "";
    position: absolute;
    top: 22px;
    left: -10px;
    border-radius: 50% 50% 0% 0%;
    background-color:  #bababa;
    width: 40px;
    height: 20px;

}

.player{
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

.score{
    color: goldenrod;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

#gameboard {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-gap:px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 75%;
   
  }
  
  .box {
    margin-top: px;
    width: 100px;
    height: 100px;
    border: 2px solid goldenrod;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
     background-color: powderblue; 
    background-image: url('Backgroundimage.jpg');
    color: rgb(10, 10, 10);
    line-height: 100px;
    vertical-align: middle;
  }

  button{
    width: 75%;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 20px auto  0 auto;
    box-sizing: border-box;
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    background-color: goldenrod;
    color: rgb(28, 21, 21);
  }
